.page-details-banner {
	background-color: var(--RepzioYellow);
	width: 100%;
	padding: 50px 0px;
	display: flex;
	justify-content: center;
}

.page-details-banner__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-details-banner__content > h2 {
	font-size: 30px;
	color: #fff;
}

.page-details-banner__content > span {
	color: #535353;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
}

.page-details-banner__message > p {
	margin: 10px 0px;
	line-height: 15px;
}
