.navbar {
	background: #ffffff;
	width: 100%;
	height: 4.688rem;
	display: flex;
	justify-content: center;
	border-bottom: solid 1px #f1f1f1;
}

.navbar__container {
	/* background: red; */
	width: 80%;
	height: 4.688rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__navigation-container {
	/* background: yellow; */
	width: 400px;
	height: 100%;
}
